<a href="https://colab.research.google.com/github/Adaline-K/git4-collaboration-sourcetree/blob/master/data_test01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 기초문법 익히기

In [ ]:
b=55
print(b)

55

In [ ]:
a=1
if a % 2==0:
  print("짝수")
else:
  print("홀수")

홀수

In [ ]:
b=55
if(b>=10) & (b< 100) & (b%2 ==0):
  print("자리 수의 짝수이다.")
else:
  print("2자리 수의 짝수가 아니다")

2자리 수의 짝수가 아니다

In [ ]:
c=6
if c>=8:
  print("A")
elif c >=5:
  print("B")
else:
  print("C")

B

In [ ]:
sex= "boy"
pushup=8

if sex =="boy":
  if pushup >=10:
    grade = "pass"
  else:
    grade ="Fail"
else:
  if pushup >=10:
    grade= "pass"
  else:
    grade="Fail"
  
print(grade)

Fail

In [ ]:
def twotimes(x):
  y=2*x
  return y

print(twotimes(2))
print(twotimes(-3))

4
-6

In [ ]:
def add(x,y):
  return x+y

print(add(1,2))
print(add(-4, -7))
print(add(-4.0, 8.6))
print(add('a','b'))

3
-11
4.6
ab

In [ ]:
def sum(a,b,c):
  s=a+b+c
  return s 

print(sum(0, -2, 3.0))
print(sum(-100, 0, 3.0))

1.0
-97.0

In [ ]:
f= lambda x : 2*x
print(f(2))

4

In [ ]:
z=3

def f2(x):
  y=z*x
  print("y=", y)
  print("z=", z)
  return y 

f2(3)

y= 9
z= 3

9

In [ ]:
for i in range (10):
 print(i)
for j in range(10):
  print("="+str(j) + "=")

In [ ]:
for i in range (9):
  print("=" + str(i +1)+"=")

In [ ]:
for i in range(10):
  print("*"*(i+1))

for j in range(10):
  print("*"*(10-j))

In [ ]:
for i in range(4):
  for j in range(4):
    print(i+j, end="")
  print()

In [ ]:
for i in range(6):
  n1= i+ 1
  for j in range(6):
    n2=j+1
    print(n1, n2)

In [ ]:
for i in range(6):
  n1=i+1
  for j in range(6):
    n2= j+1
    n= n1+n2
    if n % 4 == 0:
      print(n1, n2)

In [ ]:
n=5

sum=0
for i in range(n):
  sum= sum+ (i +1)
print(sum)

In [ ]:
x=[88, 90, 100]
print(x[0])
print(x)
print((x[0]+x[1])/2)

In [ ]:
b= {"math":88, "english": 90, "history": 100 }
b["math"]
(b["math"]+b["english"])/2

In [ ]:
b2={1:10, 2:20}
b2[1]

In [ ]:
d=[1,3.14, "pi"]
c=[[1,2], ['a','b']]
print(c[0])
print(c[0][0])

In [ ]:
f=[{0:0, 1:10}, {0:1, 1:2}]
f[0][0]

In [ ]:
a=[1,2,3]
len(a)

In [ ]:
b=list(range(10))
c=list(range(2, 10))
d=list(range(1, 10, 3))

print(b)
b[0]=100
b

In [ ]:
e=list(range(4))
e.append(4)
print(e)
e.append(10)
print(e)

del e[0]
print(e)

del e[3]
print(e)

In [ ]:
g=list(range(20))
print(g[:5])
print(g[10:15])
print(g[-1])
print(g[-3:-1])

In [ ]:
h=[1,2,3]
h1,h2, h3=h

In [ ]:
a=[90, 85,95,90, 100,85,75,85,80]
print(a)
len(a)

sum=0

for i in range(len(a)):
  sum = sum+a[i]
  avg = sum/ len(a)

avg

In [ ]:
s=[]
a1=[90,85,95,80,90,100,85, 75,85,80]
a2=[95,90,90,90,95,100,90,80,95,90]

for i in range(len(a1)):
  s.append(a1[i] +a2[i])
s

[185, 175, 185, 170, 185, 200, 175, 155, 180, 170]

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
for i, e in enumerate(["a","b","c"]):
  print("i =%d, e= %s" %(i,e))

i =0, e= a,
i =1, e= b
i =2, e= c

In [ ]:
x = [[85,  90,  20,  50,  60,  25,  30,  75,  40,  55],
     [70, 100,  70,  70,  55,  75,  55,  60,  40,  45],
     [25,  65,  15,  25,  20,   5,  60,  70,  35,  10],
     [80,  45,  80,  40,  75,  35,  80,  55,  70,  90],
     [35,  50,  75,  25,  35,  70,  65,  50,  70,  10]]

sum=0
num=0

for i in range(len(x)):
  for j in range(len(x[i])):
    num =num+1
    sum= sum+ x[i][j]

print(num)
print(sum)
print(sum/num)

50
2635
52.7

In [ ]:
a12=list(zip(a1, a2))
print(a12)

for a1i, a2i in zip(a1, a2):
  s.append(a1i+a2i)
print(s)

[(90, 95), (85, 90), (95, 90), (80, 90), (90, 95), (100, 100), (85, 90), (75, 80), (85, 95), (80, 90)]
[185, 175, 185, 170, 185, 200, 175, 155, 180, 170, 185, 175, 185, 170, 185, 200, 175, 155, 180, 170]

In [ ]:
x={"a":10, "b":20}
len(x)

x["a"]=30
x["c"]=60
del x["b"]
x

{'a': 30, 'c': 60}

In [ ]:
"a" in x
"d" in x

False

In [ ]:
for k, v in x.items():
 print("key [%s] => value [%d]" % (k,v))

key [a] => value [30]
key [c] => value [60]

In [ ]:
h=10
v=20

def area(h,v):
   return h*v

a= area(h, v)
print(a)

200

In [ ]:
class Rectangle(object):

  def __init__(self, h, v):
    self.h= h
    self.v= v
  
  def area(self):
    return self.h * self.v

a=Rectangle(1,1)
b=Rectangle(2,1)
c=Rectangle(3,1)
d=Rectangle(4,1)

print(a.area())

print(b.area())

print(c.area())

print(d.area())

# 새 섹션

In [ ]:
class Character(object):

  def __init__(self):
    self.life = 1000

  def attacted(self):
    self.life-=10
    print("공격받음! 생명력=", self.life)

class Warrior(Character):

  def __init__(self):
    super(Warrior, self).__init__()
    self.strength=15
    self.intelligence=5

class Wizard(Character):

  def __init__(self):
    super(Wizard,self).__init__()
    self.strength=5
    self.intelligence=15

  a=Warrior()
  a.life

In [ ]:
class Character(object):

  def __init__(self):
    self.life = 1000

  def attacted(self):
    self.life-=10
    print("공격받음! 생명력=", self.life)


class Warrior(Character):

  def __init__(self):
    super(Warrior, self).__init__()
    self.strength=15
    self.intelligence=5

class Wizard(Character):

  def __init__(self):
    super(Wizard,self).__init__()
    self.strength=5
    self.intelligence=15


c= Warrior()
print(c.life)
c.attacted()
print(c.strength)

d=Wizard()
print(d.life)
d.attacted()
print(d.strength)

1000
공격받음! 생명력= 990
15
1000
공격받음! 생명력= 990
5

In [ ]:
class Character(object):

   def __init__(self):
     self.life =1000
     self.strength=10
     self.intelligence=10

   def attacted(self):
    self.life -=10
    print("공격받음!", self.life)

   def attack(self):
     print("공격!")


class Warrior(Character):
  
   def __init__(self):
     super(Warrior, self).__init__()
     self.strength=15
     self.intelligence=5

   def attack(self):
    print("파워 공격")

class Wizard(Character):

  def __init__(self):
    super(Wizard, self).__init__()
    self.strength=5
    self.intelligence=15

  def attack(self):
    print("매직 공격")

a= Character()
b= Warrior()
c= Wizard()

a.attack()
b.attack()
c.attack()

공격!
파워 공격
매직 공격

In [ ]:
import numpy as np
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
from sys import getsizeof

a=1
getsizeof(a)

b="1"
getsizeof(b)

50

In [ ]:
class C(object):
  pass

c=C()
type(c)

__main__.C

In [ ]:
import datetime as dt

x.strftime("%A %d. %B %Y")
print(x.strftime("%H시 %M분 %S초"))

07시 47분 49초

In [ ]:
from dateutil.parser import parse

parse('2016-04-16')

datetime.datetime(2016, 4, 16, 0, 0)

In [ ]:
import time

print(1)
time.sleep(5)
print(2)
time.sleep(5)
print(3)
time.sleep(5)

1
2
3