<a href="https://colab.research.google.com/github/Adaline-K/git4-collaboration-sourcetree/blob/master/tensortest3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
#데이터 준비
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
#독립변수, 종속변수 분리
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [ ]:
#모델의 구조 만들기
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [ ]:
#데이터로 모델 Fit하기
model.fit(독립, 종속,epochs=1500, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 24.5098
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 24.0720
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 25.3349
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 24.3812
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 23.9190
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 24.4549
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 24.5345
Epoch 8/10
16/16 [==============================] - 0s 2ms/step - loss: 24.5128
Epoch 9/10
16/16 [==============================] - 0s 960us/step - loss: 24.3213
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 24.3783

In [ ]:
#모델 이용하기
print(model.predict(독립[5:10]))
#종속변수확인
print(종속[5:10])

[[25.578722]
 [21.967718]
 [18.952742]
 [10.734601]
 [18.346525]]
   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [ ]:
#모델의 수식확인
print(model.get_weights())

[array([[-0.09117992],
       [ 0.04967723],
       [-0.03334996],
       [ 2.6711075 ],
       [ 0.934337  ],
       [ 5.3164673 ],
       [-0.01205744],
       [-1.0130274 ],
       [ 0.18922469],
       [-0.01072544],
       [-0.46480554],
       [ 0.01351922],
       [-0.46536854]], dtype=float32), array([5.491895], dtype=float32)]